h1.title::before { content: "â†"; }
.main {
  line-height: 1.75;
}
.archive {
  max-width: none;
  width: 100%;
}
.archive > ul > li {
  list-style: none;
}
.blog .archive > ul > li {
  display: inline-block;
  margin-right: 1em;
}
.main h2 {
  line-height: 1.25;
}
.main h1, .main h2 {
  text-align: center;
  margin: 2em 0 1em;
}

@media only screen and (min-width: 768px) {
  pre, table {
    width: auto;
    max-width: none;
    margin-left: auto;
  }
  .cn #TableOfContents {
    columns: 2;
  }
  .nav-next {
    border-right: 1px solid;
    padding-right: 1em;
  }
  .nav-prev {
    border-left: 1px solid;
    padding-left: 1em;
  }
}

@media print {
  del, footer, .nav-top, #TableOfContents, .comments, h1.title::before {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .has-sidenotes .main, .has-sidenotes .fullwidth {
    margin-left: 0;
  }
  .side-right {
    float: right;
    clear: right;
    background: none;
    padding: 0 0 1em 0;
    width: calc(var(--body-width) - var(--text-width) - 2.5rem * 2 - 2rem);
    margin-right: calc(var(--text-width) + 2.5rem * 2 - var(--body-width));
  }
  blockquote .side-right {
    margin-right: calc(var(--text-width) + 2.5rem * 2 - var(--body-width) - 2rem);
  }
}